@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Shadows+Into+Light&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  box-sizing: border-box;
}

div,
button {
  user-select: none;
  font-family: "Roboto";
}

h2,
input {
  font-family: "Indie Flower";
}

input {
  padding: 0.5em 1em;
  font-style: italic;
}

input::placeholder {
  color: gray;
}

@layer components {
  :root {
    --fluid-16-40: clamp(1rem, -1.2722rem + 3.5503vi, 2.5rem);
    --fluid-16-24: clamp(1rem, 0.2426rem + 1.1834vi, 1.5rem);
    --fluid-6-16: clamp(0.375rem, -0.5717rem + 1.6vi, 1rem);
    --fluid-2-6: clamp(0.125rem, -0.2537rem + 0.5917cqi, 0.375rem);
  }

  .font-shadow-light {
    font-family: "Shadows Into Light";
  }

  .font-indie {
    font-family: "Indie Flower";
  }

  .font-roboto {
    font-family: "Roboto";
    font-style: normal;
  }

  .steps-container {
    max-height: 20ch;
  }

  .modal-open-button {
    @apply absolute z-10 top-0 left-0 m-24 font-shadow-light text-2xl -rotate-12 text-center hover:-rotate-0 hover:scale-110 transition ease-in-out;
  }

  .modal-container {
    @apply absolute top-0 left-0 w-full h-full flex flex-col center p-4 transition ease-in-out;
  }

  .modal-content {
    @apply relative flex flex-col center w-1/3 mt-20 aspect-square rounded-2xl bg-white;
  }

  .modal-image {
    @apply h-full rounded-2xl;
  }

  .modal-image-title {
    @apply absolute top-0 text-2xl font-indie mt-2;
  }

  .close-modal-button {
    @apply absolute top-0 right-0 center m-4 hover:scale-125 text-center transition ease-in-out;
  }

  .modal-nav-buttons {
    @apply absolute bottom-0 flex w-full justify-between p-4 pb-4;
  }

  .nav-button {
    @apply hover:scale-125 transition ease-in-out;
  }

  .modal-overlay {
    @apply fixed inset-0 bg-gray-500 bg-opacity-80 border-none;
  }

  .instruction-word {
    @apply font-indie text-xl mx-4;
  }

  .instruction-word-small {
    @apply font-indie text-sm;
  }

  .instruction-word-tiny {
    @apply font-indie;
    font-size: 0.5cqw;
  }

  .num-input-icons {
    @apply cursor-pointer text-xl;
  }

  .group-chip {
    @apply group-chip-dead;
  }

  .group-chip:hover {
    @apply bg-blue-400 text-white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .group-chip-dead {
    @apply px-6 py-0.5 border-r-2 border-l-2 rounded-2xl border-blue-300 text-black mb-4 font-indie;
  }

  .grid-autofill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-columns: auto;
  }

  .full-image {
    height: 16ch;
  }

  .mini-image {
    height: 2.5cqw;
  }

  .mini-text {
    font-family: "Indie Flower";
    font-size: 6px;
  }

  .small-text {
    font-family: "Indie Flower";
    font-size: 10px;
  }

  .large-image {
    height: 10ch;
  }

  .small-image {
    height: 7ch;
  }

  .tiny-image {
    height: 5ch;
  }

  .semi-height {
    max-height: 60vh;
  }

  .half-height {
    max-height: 55ch;
  }

  .short-height {
    max-height: 20ch;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .center {
    @apply items-center justify-center;
  }

  .input-border {
    @apply bg-white card-shadow rounded-lg;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .border-selected {
    @apply ring-4 ring-green-600 rounded-2xl;
  }

  .text-footer {
    font-size: 0.5ch;
  }

  .main-gallery {
    @apply flex flex-col overflow-hidden semi-height rounded-lg bg-white gallery-shadow p-4;
  }

  .a4ratio {
    aspect-ratio: 1 / 1.41;
    max-height: calc((2 / 3 * 100cqw) * 1.41);
  }

  .w-cw {
    width: 6.5cqw;
  }

  .card-shadow {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
      0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  .card-shadow-strong {
    box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.4), 0px 6px 8px 0px rgba(0, 0, 0, 0.28),
      0px 2px 16px 0px rgba(0, 0, 0, 0.24);
  }

  .gallery-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  }

  .thin-shadow {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .suspense-gallery-item {
    @apply relative flex flex-col rounded-2xl card-shadow md:w-20 lg:w-28 xl:w-32 aspect-video-reverse bg-slate-100;
  }

  .aspect-video-reverse {
    aspect-ratio: 9 / 16;
  }

  .aspect-video-wide {
    aspect-ratio: 20 / 9;
  }

  .aspect-video-thin {
    aspect-ratio: 9 / 13;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  .toast {
    @apply fixed top-16 left-1/2 transform -translate-x-1/2 bg-black text-white p-4 px-8;
    animation: fadeIn 1s ease-in-out;
  }

  .required-element-border {
    border-bottom: 2px solid red;
  }

  .required-element-fill {
    background-color: rgba(255, 0, 0, 0.2);
  }

  .recipe-group-border {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-right: 1px solid rgba(0, 0, 0, 0.4);
  }

  .unit-card {
    @apply bg-white text-black border-b-4 border-transparent thin-shadow p-1 px-2 mx-1 font-indie text-xl;
  }

  .unit-card-chosen {
    @apply border-b-4 border-blue-500 text-blue-500 scale-110;
    transition: 0.3s;
  }

  .sexy-button {
    @apply py-1.5 px-6 rounded-xl rounded-t-xl tracking-wider leading-loose transition duration-200 card-shadow;
  }

  .go-to-button-arrow {
    @apply absolute flex text-white text-center px-4 py-2 m-12 cursor-pointer font-semibold tracking-widest rounded-md duration-300;
  }
}

@keyframes fadeIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 4em;
    opacity: 1;
  }
}
