@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Shadows+Into+Light&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    box-sizing: border-box;
  }

  div,
  button {
    @apply select-none font-roboto;
  }

  p,
  span {
    @apply font-indie;
  }

  div,
  img {
    touch-action: auto;
  }

  h2,
  input {
    @apply font-indie;
  }

  input {
    padding: 0.5em 1em;
    font-style: italic;
  }

  input::placeholder {
    color: gray;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

@layer components {
  :root {
    --fluid-20-28: clamp(1.25rem, 0.4926rem + 1.1834vi, 1.75rem);
    --fluid-16-24: clamp(1rem, 0.2426rem + 1.1834vi, 1.5rem);
    --fluid-10-20: clamp(0.625rem, -0.3217rem + 1.4793vi, 1.25rem);
    --fluid-6-16: clamp(0.375rem, -0.5717rem + 1.6vi, 1rem);
    --fluid-8-14: clamp(0.5rem, -0.068rem + 0.8876vi, 0.875rem);
    --fluid-6-10: clamp(0.375rem, -0.0037rem + 0.5917vi, 0.625rem);
    --fluid-2-6: clamp(0.125rem, -0.2537rem + 0.5917cqi, 0.375rem);
    --w-clamp: clamp(3cqw, 6cqw, 8cqw);
    --w-clamp-input: clamp(24cqw, 36cqw, 44cqw);
    --w-clamp-small: clamp(12cqw, 20cqw, 28cqw);
    --h-clamp: clamp(20cqh, 25cqh, 30cqh);
    --h-clamp-small: clamp(12cqh, 20cqh, 28cqh);
  }

  .scroll-normal {
    direction: rtl;
  }

  .scroll-mirror {
    direction: ltr;
  }

  .modal-open-button {
    @apply absolute z-10 top-0 left-0 sm:m-8 md:m-12 lg:m-16 font-shadowsLight text-fluidSubtitle -rotate-12 text-center hover:-rotate-0 hover:scale-110 transition ease-in-out;
  }

  .modal-container {
    @apply absolute top-0 left-0 w-full h-full flex flex-col center p-4 transition ease-in-out;
  }

  .modal-content {
    @apply relative flex flex-col center w-1/2 mt-20 aspect-square rounded-2xl bg-white;
  }

  .modal-image {
    @apply h-full rounded-2xl;
  }

  .modal-image-title {
    @apply absolute top-0 md:text-lg lg:text-2xl font-indie mt-2;
  }

  .close-modal-button {
    @apply absolute top-0 right-0 center m-4 hover:scale-125 text-center transition ease-in-out;
  }

  .modal-nav-buttons {
    @apply absolute bottom-0 flex w-full justify-between p-4 pb-4;
  }

  .nav-button {
    @apply hover:scale-125 transition ease-in-out;
  }

  .nav-icon {
    @apply md:text-lg lg:text-2xl;
  }

  .modal-overlay {
    @apply fixed inset-0 bg-gray-500 bg-opacity-80 border-none;
  }

  .num-input-icons {
    @apply cursor-pointer text-xl;
  }

  .group-chip {
    @apply group-chip-dead;
  }

  .group-chip:hover {
    @apply bg-blue-400 text-white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .group-chip-dead {
    @apply px-6 py-0.5 border-r-2 border-l-2 rounded-2xl border-blue-300 text-black mb-4 font-indie;
  }

  .grid-autofill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    grid-auto-columns: auto;
  }

  .mini-text {
    font-family: "Indie Flower";
    font-size: 6px;
  }

  .small-text {
    font-family: "Indie Flower";
    font-size: 10px;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .center {
    @apply items-center justify-center;
  }

  .input-border {
    @apply bg-white card-shadow;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  .border-selected {
    @apply ring-4 ring-green-600 rounded-2xl;
  }

  .text-footer {
    font-size: 0.5ch;
  }

  .main-gallery {
    @apply flex flex-col overflow-hidden max-h-semi rounded-lg bg-white gallery-shadow p-4;
  }

  .a4ratio {
    aspect-ratio: 1 / 1.41;
    max-height: calc((2 / 3 * 100cqw) * 1.41);
  }

  .w-cw {
    width: 6.5cqw;
  }

  .card-shadow {
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
      0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  }

  .card-shadow-strong {
    box-shadow: 0px 6px 6px -4px rgba(0, 0, 0, 0.4), 0px 6px 8px 0px rgba(0, 0, 0, 0.28),
      0px 2px 16px 0px rgba(0, 0, 0, 0.24);
  }

  .gallery-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  }

  .thin-shadow {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
  }

  .suspense-gallery-item {
    @apply relative flex flex-col rounded-2xl card-shadow lg:w-20 xl:w-32 aspect-videoReverse bg-slate-100;
  }

  .toast {
    @apply fixed top-16 left-1/2 transform -translate-x-1/2 bg-black text-white p-4 px-8;
    animation: fadeIn 1s ease-in-out;
  }

  .required-element-border {
    border-bottom: 2px solid red;
  }

  .required-element-fill {
    background-color: rgba(255, 0, 0, 0.2);
  }

  .unit-card {
    @apply bg-white text-black border-b-4 border-transparent thin-shadow p-1 px-2 mx-1 font-indie text-xl;
  }

  .unit-card-chosen {
    @apply border-b-4 border-blue-500 text-blue-500 scale-110;
    transition: 0.3s;
  }

  .sexy-button {
    @apply px-6 rounded-xl rounded-t-xl tracking-widest leading-loose transition duration-200 card-shadow border-2 border-transparent font-shadowsLight lg:text-base;
  }

  .go-to-button-arrow {
    @apply absolute center flex text-white p-3 lg:p-4 m-8 cursor-pointer font-semibold tracking-widest rounded-md duration-300 font-shadowsLight;
  }

  .print-to-a4-button {
    @apply fixed text-black bottom-0 right-0 sm:m-4 md:m-6 lg:m-8 xl:m-10 font-shadowsLight md:text-base lg:text-xl -rotate-12 text-center hover:-rotate-0 hover:scale-110 transition ease-in-out;
  }

  .recipe-title {
    @apply sm:text-sm md:text-base lg:text-lg font-shadowsLight md:mt-2 lg:mt-4;
  }

  .recipe-subtitle-text {
    @apply sm:text-xs xl:text-base;
  }

  .print-image {
    @apply sm:w-smallPrint md:w-smallPrint lg:w-printItem xl:w-tinyImage;
  }

  .print-rounded {
    @apply sm:rounded-md md:rounded-md lg:rounded-lg xl:rounded-lg;
  }

  .print-rounded-img {
    @apply sm:rounded-t-sm md:rounded-t-md lg:rounded-t-lg xl:rounded-t-lg;
  }

  .instruction-print-text {
    @apply text-fluidCard xl:text-fluidPrintSubtitle;
  }
}

@keyframes fadeIn {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 4em;
    opacity: 1;
  }
}
